.input {
  margin: 2rem auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
}

.input label,
.input p {
  display: block;
  font-weight: bold;
  margin: 0;
}

.input input {
  font: inherit;
  font-weight: normal;
  display: block;
  width: 100%;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 0.3rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.input input:focus {
  outline: none;
  border-color: darkslateblue;
  background-color: aliceblue;
}

.input img {
  width: 25%;
  margin-bottom: 0.5rem;
}

.input input::file-selector-button {
  font: inherit;
  border-radius: 10px;
  border: 1px solid darkslateblue;
  background: darkslateblue;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.input input::file-selector-button:hover {
  background: rgb(95, 105, 190);
  border-color: rgb(95, 105, 190);
}

.header {
  margin-bottom: 1rem;
}

.header h2 {
  margin: 0;
  color: darkslateblue;
}
