.button {
  font: inherit;
  border: 1px solid darkslateblue;
  border-radius: 10px;
  background: darkslateblue;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: rgb(95, 105, 190);
  border-color: rgb(95, 105, 190);
  transform: scale(1.1);
}

.button:focus {
  outline: none;
}